<form class="form-horizontal" id="createteam" method="post" action="{{url}}">
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="hidden" name="returnurl" value="{{returnurl}}" />
    <div class="control-group">
        <label class="control-label" for="name">Name</label>
        <div class="controls">
            <input type="text" id="name" placeholder="Name">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="limit">limit</label>
        <div class="controls">
            <select id="limit">
                <option value="1"></option>
            </select>
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox"> Remember me
            </label>
            <button type="submit" class="btn">Sign in</button>
        </div>
    </div>
</form>