{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="container">
    <div class="row">
        <div class="span12">

            {{#cohortpasses}}
            <div class="accordion no-expansive pass-group" id="accordion0">
                {{! // Accordion Item #1}}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapseOne">
                            {{name}}
                        </a>
                        <ul class="secondary-informations">
                            <li>Total seats: <span>{{licenses}}</span></li>
                            <li>Used: <span>{{used}}</span></li>
                            <li>Available: <span>{{available}}</span></li>
                            <li class="more-inf">Autorenew on {{end_date}}</li>
                        </ul>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            {{! Buttons Import/Export }}
                            <div class="menu-actions">
                                <div class="actions-left">
                                    <div class="table-filter">
                                        <label for="qnt_per_page">Per Page:</label>
                                        <select class="select select-filter" placeholder="Per page" id="teammanagement_per_page" name="qnt_per_page">
                                            <option value="0">10</option>
                                            <option value="1">20</option>
                                            <option value="2">30</option>
                                        </select>
                                    </div>
                                    <button type="button" class="fa fa-plus-circle" {{isdisabled}}  data-toggle="modal" data-target="#model{{id}}" value="{{id}}">
                                        {{#str}}addusers, adminpages_user{{/str}}
                                    </button>
                                </div>
                            </div>

                        <table class="table table-hover">
                            <thead>
                            <tr class="titles">
                                <th><a href="#">{{#str}}user{{/str}} <i class="fa fa-caret-down" aria-hidden="true"></i></a></th>
                                <th>{{#str}}deactivate, local_admin{{/str}}</th>
                            </tr>
                            </thead>
                            <tbody>
                            <?php $cohortid = $id; ?>
                            {{^nousers}}
                                <tr>
                                    <td>
                                        <input type="checkbox" id="select-user">
                                        <label for="select-user">Select All <span>(1 Selected)</span></label>
                                    </td>
                                    <td><a href="#" class="toggle">off</a></td>
                                </tr
                                {{#users}}
                                    <tr>
                                        <td>
                                            <input type="checkbox" id="select-user">
                                            <label for="select-user">{{firstname}} {{lastname}}</label>
                                        </td>
                                        {{#capability}}
                                            {{#status}}
                                                <td><a class="cohortswitch toggle on" id="cohort-{{cohortid}}-user-{{id}}" value="{{id}}|{{cohortid}}">on</a></td>
                                            {{/status}}
                                            {{^status}}
                                                <td><a class="cohortswitch toggle" id="cohort-{{cohortid}}-user-{{id}}" value="{{id}}|{{cohortid}}">off</a></td>
                                            {{/status}}
                                        {{/capability}}
                                        {{^capability}}
                                            <td><a class="toggle" title="You don't have permission">off</a></td>
                                        {{/capability}}
                                    </tr>
                                {{/users}}
                            {{/nousers}}
                            {{#nousers}}
                                <tr>
                                    <td colspan="2">{{#str}}noresults, theme_franklincovey{{/str}}</td>
                                </tr>
                            {{/nousers}}

                            </tbody>
                        </table>

                        <div class="pagination ">
                            <ul>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=0">previous</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=1">1</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=2">2</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=3">3</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=4">4</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=5">5</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=6">6</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=7">7</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=8">8</a></li>
                                <li><a class=" previous disabled" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=9">9</a></li>
                                <li><a class=" next" href="http://franklin.dev/local/admin/index.php?page=user_team&amp;position=2">next</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="model{{id}}" role="dialog">
                <div class="modal-dialog modal-lg">
                    <div class="modal-content">
                        <div class="modal-header">
                            <!--<button type="button" class="close" data-dismiss="model{{id}}">&times;</button>-->
                            <h4 class="modal-title">ADD USERS</h4>
                        </div>
                        <div class="modal-body">
                            <div id="alert-{{id}}"></div>
                            <p>User search</p>
                            <div id="custom-search-input">
                                <div class="input-group col-md-12">
                                    <input type="text" class="form-control input-lg" id="passinput-{{id}}" placeholder="Alex" />
                                    <span class="input-group-btn">
                                        <button class="btn btn-info btn-lg pass-usersearch" value="{{id}}" type="button"><i  class="fa fa-search"></i></button>
                                    </span>
                                </div>
                            </div>
                            <div id="search-contents-{{id}}">
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button"  class="btn btn-primary add-usercohort" value="{{id}}">Add user</button>
                            <button type="button" class="btn btn-default"  data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
            {{/cohortpasses}}
        </div>
    </div>
</div>


