<div class="container">
    <div class="row">
        <div class="span12">

            {{^noteams}}
                {{#teams}}
                    {{> adminpages_user/team}}
                {{/teams}}
            {{/noteams}}
            {{#noteams}}
                {{#str}}noresults, theme_franklincovey{{/str}}
            {{/noteams}}
        </div>
    </div>
</div>