<form id="assignform" method="post" action="{{url}}"><div>
    <input type="hidden" name="sesskey" value="{{sesskey}}" />
    <input type="hidden" name="returnurl" value="{{returnurl}}" />
    <input type="hidden" name="action" value="" />

    <table summary="" class="generaltable generalbox boxaligncenter" cellspacing="0">
        <tr>
            <td id="existingcell">
                <p><label for="removeselect">currentusers</label></p>
                {{{existinguserselector}}}
            </td>
            <td id="buttonscell">
                <div id="addcontrols">
                    <button id="add" title="add"> add </button><br />
                </div>

                <div id="removecontrols">
                    <button id="remove" title="remove"> remove </button><br />
                </div>
            </td>
            <td id="potentialcell">
                <p><label for="addselect">potusers</label></p>
                {{{potentialuserselector}}}
            </td>
        </tr>
    </table>
</div>
</form>