{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<table class="table table-hover">
    <thead>
    <tr class="titles">
        <th>{{#str}}user{{/str}}</th>
        <th>{{#str}}role, local_admin{{/str}}</th>
        <th>{{#str}}expires, local_admin{{/str}}</th>
        <th>{{#str}}diagnostic, local_admin{{/str}}</th>
        <th>{{#str}}feedback, local_admin{{/str}}</th>
        <th>{{#str}}content_library, local_admin{{/str}}</th>
        <th>{{#str}}unassign, local_admin{{/str}}</th>
    </tr>
    </thead>
    <tbody>
    {{^nousers}}
        <tr>
            <td colspan="3">
                <input type="checkbox" id="select-user">
                <label for="select-user">Select All <span>(1 Selected)</span></label>
            </td>
            <td><a href="#" class="toggle on">on</a></td>
            <td><a href="#" class="toggle">off</a></td>
            <td><a href="#" class="toggle">off</a></td>
            <td><a href="#" class="toggle">off</a></td>
        </tr
        {{#users}}
            <tr>
                <td>
                    <input type="checkbox" id="select-user">
                    <label for="select-user">{{fullname}}</label>
                </td>
                <td>{{pass}} <a class="fa fa-chevron-circle-down options-role" href="javascript:void(0);"></a></td>
                <td>{{team}}</td>
                <td><a href="#" class="toggle on">on</a></td>
                <td><a href="#" class="toggle">off</a></td>
                {{#capability}}
                    <td><a class="libswitch toggle on" id="team-user-{{id}}" value="{{id}}">on</a></td>
                {{/capability}}
                {{^capability}}
                    <td><a class="libswitch toggle" id="team-user-{{id}}" value="{{id}}">off</a></td>
                {{/capability}}
                <td><a href="#" class="toggle">off</a></td>
            </tr>
        {{/users}}
    {{/nousers}}
    {{#nousers}}
        <tr>
            <td colspan="5">{{#str}}noresults, theme_franklincovey{{/str}}</td>
        </tr>
    {{/nousers}}

    </tbody>
</table>
