{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="accordion no-expansive team-group" id="accordion0">
    {{! // Accordion Item #1}}
    <div class="accordion-group">
        <div class="accordion-heading">
            <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapseOne">
                {{name}}
            </a>
            <ul class="secondary-informations">
                <li>Total seats: <span>{{allowed}}</span></li>
                <li>Used: <span>{{count}}</span></li>
                <li>Available: <span>{{available}}</span></li>
            </ul>
        </div>
        <div id="collapseOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                {{! Buttons Import/Export }}
                <div class="menu-actions">
                    <div class="actions-left">
                        <div class="table-filter">
                            <label for="qnt_per_page">Per Page:</label>
                            <select class="select select-filter" placeholder="Per page" id="teammanagement_per_page"
                                    name="qnt_per_page">
                                <option value="0">10</option>
                                <option value="1">20</option>
                                <option value="2">30</option>
                            </select>
                        </div>
                        <a id="add-members" href="#" class="btn"><i class="fa fa-plus-circle" aria-hidden="true"></i> add
                            members</a>
                    </div>
                    <div class="actions-right">
                        <a href="#" class="btn btn-leaked">Delete</a>
                        <a href="#" class="btn">Edit</a>
                    </div>
                </div>

                {{> adminpages_user/team_table}}

            </div>
        </div>
    </div>
</div>
