{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<table class="table table-hover">
<thead>
<tr class="banner">
    <th colspan="6"><a href="/" class="btn add_users">{{#str}}add_users, local_admin{{/str}}</a> </th>
</tr>
<tr class="titles">
    <th> {{#str}}user{{/str}}</th>
    <th>{{#str}}facilitator, local_admin{{/str}}</th>
    <th>{{#str}}user_pass, local_admin{{/str}} <i class="caret"></i></th>
    <th>{{#str}}user_team, local_admin{{/str}} <i class="caret"></i></th>
    <th>{{#str}}edit{{/str}}</th>
    <th>{{#str}}loginas{{/str}}</th>
</tr>
</thead>
<tbody>
{{^nousers}}
    {{#users}}
        <tr>
            <td>{{fullname}}</td>
            {{! Add class 'on' to change the style when funcionallity be ready }}
            {{#facilitator}}
            <td><a class="toggle faci-role-switch on" id="faci-role-{{id}}" value={{id}}>on</a></td>
            {{/facilitator}}
            {{^facilitator}}
                <td><a class="toggle faci-role-switch" id="faci-role-{{id}}" value={{id}}>off</a></td>
            {{/facilitator}} 
            <td>{{pass}}</td>
            <td>{{team}}</td>
            <td><a href="{{editurl}}" >{{# pix }} t/edit, core, {{#str}}edit{{/str}} {{/ pix }}</a></td>
            <td>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#loginas-{{id}}">
                    {{#str}}loginas{{/str}}
                </button>
            </td>
        </tr>
    {{/users}}
{{/nousers}}
{{#nousers}}
    <tr>
        <td colspan="5">{{#str}}noresults, theme_franklincovey{{/str}}</td>
    </tr>
{{/nousers}}

</tbody>
</table>

{{^nousers}}
    {{#users}}
        <div class="modal fade" tabindex="-1" role="dialog" id="loginas-{{id}}">
            <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true"></span>
                    </button>
                    <h4 class="modal-title"> {{#str}}alert, adminpages_user{{/str}} </h4>
                </div>
                <div class="modal-body">
                    {{#str}}alertcontent, adminpages_user{{/str}}
                </div>
                <div class="modal-footer">
                    <button type="button" id="tncsertclode" class="btn btn-default" data-dismiss="modal">
                        {{#str}}cancel, adminpages_user{{/str}}
                    </button>
                    <button type="button" onclick="window.location.href='{{{loginasurl}}}'" class="btn btn-primary">
                        {{#str}}confirm, adminpages_user{{/str}}
                    </button>
                </div>
            </div>
            </div>
        </div>
    {{/users}}
{{/nousers}}



