{{! Additional Info }}
<div class="additional-info">
	<div class="container">
		<div class="btn-toggle" data-toggle="collapse" data-target="#content-info">
			<span class="arrow"><span class="caret"></span></span>
				{{#str}}view_additional_info, local_admin{{/str}}
		</div>
		<div id="content-info" class="collapse">
			<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente asperiores iste ut architecto molestiae, sequi delectus! Alias praesentium nostrum cumque quod tempore, veniam expedita hic quam atque placeat eveniet, dolore.</p>
		</div>	
	</div>
</div>

{{! Tabs }}
<div class="maintabs">
    <div class="container">
        <ul class="nav nav-tabs">
        	<li class="active"><a data-toggle="tab" href="#prepare">Prepare</a></li>
        	<li><a data-toggle="tab" href="#present">Present</a></li>
        	<li><a data-toggle="tab" href="#resource">Resource</a></li>
        </ul>
    </div>
</div>

{{! Content }}
<div class="container tab-content">
	{{! TAB: Prepare }}
	<div id="prepare" class="tab-pane certification-content active">
		<h3>Preparing:</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis perferendis suscipit non sunt amet, ipsam asperiores natus repudiandae reiciendis quaerat, officia sequi maiores, in nesciunt dignissimos nam quo odit earum!</p>

		<div class="fullwidth-content dark-bg">
			<h4 class="desc">Multi Video Player</h4>
		</div>

		<div class="btn btn-primary">Print Certificate</div>
	</div>
	
	{{! TAB: Present }}
	<div id="present" class="tab-pane certification-content">
		<h3>Presenting:</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis perferendis suscipit non sunt amet, ipsam asperiores natus repudiandae reiciendis quaerat, officia sequi maiores, in nesciunt dignissimos nam quo odit earum!</p>

		<div class="fullwidth-content dark-bg">
			<h4 class="desc">Content Raven Player</h4>
		</div>

		<div class="btn btn-primary">Print Certificate</div>
	</div>
	
	{{! TAB: Resource }}
	<div id="resource" class="tab-pane certification-content">
		<h3>Resources:</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis perferendis suscipit non sunt amet, ipsam asperiores natus repudiandae reiciendis quaerat, officia sequi maiores, in nesciunt dignissimos nam quo odit earum!</p>
		
		{{! Download Bar }}
		<div class="download-bar">
			<a href="" class="btn btn-white">Download All</a>
		</div>
		
		{{! Table }}
		<table class="table">
			<thead>
				<tr>
					<th>Asset Name</th>
					<th>Type</th>
					<th>Download</th>
				</tr>
			</thead>

			<tr>
				<td>Asset Name Space</td>
				<td>PDF</td>
				<td><a href="#" class="icon-download fa fa-download"></a></td>
			</tr>
			<tr>
				<td>Asset Name Space</td>
				<td>PowerPoint</td>
				<td><a href="#" class="icon-download fa fa-download"></a></td>
			</tr>
			<tr>
				<td>Asset Name Space</td>
				<td>PDF</td>
				<td><a href="#" class="icon-download fa fa-download"></a></td>
			</tr>
			<tr>
				<td>Asset Name Space</td>
				<td>PowerPoint</td>
				<td><a href="#" class="icon-download fa fa-download"></a></td>
			</tr>
		</table>
	</div>	
</div>

<div id="modal-terms-agreements" class="modal-p">
	<h3>Terms & Agreements</h3>
	<h4>By certifying to teach this content, you agree to:</h4>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
	<h4>Limitations</h4>
	<p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
	<div id="options-modal">
		<a href="javascript:void(0)" class="btn" title="I Aceept">I Accept</a>
		<a href="javascript:void(0)" class="btn btn-leaked" title="Decline">Decline</a>
	</div>
</div>