{{! Home -> Tab Completed }}
<div class="container" id="page_unpublished">
        <h1>Published Impact Journeys</h1>
        <div class="menu-shelf">
            <div class="order-by">
            <span>sort by: </span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>Lorem</option>
                <option>4</option>
                <option>5</option>
            </select>

             <span>per page: </span>
            <select>
                <option>1</option>
                <option>2</option>
                <option>Lorem</option>
                <option>4</option>
                <option>5</option>
            </select>
            </div>
        </div>

    <div class="row">
            {{! start box }}
            <div class="box span12">
                <div class="row">
                    <div class="span2 img_course"><img src="https://placeimg.com/170/170/tech" alt=""></div>
                    <div class="span8">
                        <div class="description">
                        <h4>Course name</h4>
                        <p>
                            Curabitur est gravida et libero vitae dictum. Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Ut enim ad minim veniam, quis nostrud exercitation. Ambitioni dedisse scripsisse iudicaretur.
                        </p>
                        <span>Insight Video | 20 Minutes</span>
                        </div>
                    </div>
                    <div class="span2 action">
                        <button class="btn" type="button">Edit</button>
                        <button class="btn white" type="button">Unpublish</button>
                        <button class="btn white" type="button">Delete</button>
                    </div>
                </div>
            </div>
            {{! finish box  }}

            {{! start box }}
            <div class="box span12">
                <div class="row">
                    <div class="span2 img_course"><img src="https://placeimg.com/170/170/people" alt=""></div>
                    <div class="span8">
                        <div class="description">
                        <h4>Course name</h4>
                        <p>
                            Curabitur est gravida et libero vitae dictum. Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Ut enim ad minim veniam, quis nostrud exercitation. Ambitioni dedisse scripsisse iudicaretur.
                        </p>
                        <span>Insight Video | 20 Minutes</span>
                        </div>
                    </div>
                    <div class="span2 action">
                        <button class="btn" type="button">Edit</button>
                        <button class="btn white" type="button">Unpublish</button>
                        <button class="btn white" type="button">Delete</button>
                    </div>
                </div>
            </div>
            {{! finish box  }}

            {{! start box }}
            <div class="box span12">
                <div class="row">
                    <div class="span2 img_course"><img src="https://placeimg.com/170/170/sepia" alt=""></div>
                    <div class="span8">
                        <div class="description">
                        <h4>Course name</h4>
                        <p>
                            Curabitur est gravida et libero vitae dictum. Qui ipsorum lingua Celtae, nostra Galli appellantur. Paullum deliquit, ponderibus modulisque suis ratio utitur. Ut enim ad minim veniam, quis nostrud exercitation. Ambitioni dedisse scripsisse iudicaretur.
                        </p>
                        <span>Insight Video | 20 Minutes</span>
                        </div>
                    </div>
                    <div class="span2 action">
                        <button class="btn" type="button">Edit</button>
                        <button class="btn white" type="button">Unpublish</button>
                        <button class="btn white" type="button">Delete</button>
                    </div>
                </div>
            </div>
            {{! finish box  }}
        </div>
    </div>
    <div class="pagination">
        <ul>
            <li class="pagination-prev" title="Previous">
                <a href="#">
                    <i class="fa fa-caret-left" aria-hidden="true"></i>
                </a>
            </li>
            <li class="active"><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">...</a></li>
            <li><a href="#">15</a></li>
            <li class="pagination-next" title="Next">
                <a href="#">
                    <i class="fa fa-caret-right" aria-hidden="true"></i>
                </a>
            </li>
        </ul>
    </div>
</div>