<div id="modal-terms-agreements" class="modal-p">
    <a href="javascript:void(0);"  class="fa fa-times close-modal" title="Close"></a>   
    <h3>Publish</h3>
    
    <h4>PUBLISH FOR EVERYONE</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.</p>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum.</p>
    
    <button class="btn" type="button">Publish</button> 
    <br><br>

    <h4>PUBLISH FOR A SPECIFIC TEAM</h4>
    <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.</p>
    
    <div class="option-checkbox">
        <label class="checkbox">
            <input type="checkbox"> <i class="label-team alpha"></i>Alpha Team
        </label>
        <label class="checkbox">
            <input type="checkbox"><i class="label-team bravo"></i> Bravo Team
        </label>
        <label class="checkbox">
            <input type="checkbox"><i class="label-team charlie"></i> Charlie Team
        </label>
        <label class="checkbox">
            <input type="checkbox"><i class="label-team unassigned"></i> Unassigned
        </label> 
    </div>

    <button class="btn" type="button">Publish</button> 
</div>