<div class="container" id="page_unpublished">
    <h1>Build New Impact Journeys</h1>

    <form class="formBox">
        {{! Template }}
        <div class="group">
            <label class="labelForm">Template</label>
            <button class="btn" type="button">Select</button>
        </div>
        {{! Name }}
        <div class="group">
            <label class="labelForm">Name</label>
            <input  type="text" placeholder="Name">
        </div>
        {{! Description }}
        <div class="group">
            <label>Description</label>
            <textarea name="" id="" cols="58" rows="10" placeholder="Description"></textarea>
        </div>
    </form>
    
    <hr>


    {{! // Reports }}
<div class="container">
    <div class="row">
        <div class="span12">

            {{! // Accordion}}
            <div class="accordion" id="accordion2">
                
                {{! // Accordion Item #1}}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
                            1. Manager Meeting
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="container">
                                {{! edit }}
                                <div class="group">
                                    <textarea name="" id="" cols="30" rows="10"></textarea>
                                </div>
                                {{! column }}
                                <div class="span5">
                                    <div class="group-inline">
                                        <label>Start Date & Time</label>
                                        <input type="number">
                                        <input type="number">
                                    </div>
                                    
                                    <div class="group-inline">
                                        <label>End Date & Time</label>
                                        <input type="number">
                                        <input type="number">
                                    </div>

                                    <div class="group">
                                        <label>Call-in Number</label>
                                        <input type="number">
                                    </div>

                                    <div class="group">
                                        <label>Seats Available</label>
                                        <input type="text">
                                    </div>
                                        
                                    {{! edit }}
                                </div>
                                {{! column }}
                                <div class="span5">
                                    <div class="group">
                                        <label>Assessment</label>
                                        <input type="checkbox">
                                    </div>
                                    <div class="group">
                                        <label>Meeting Toom</label>
                                        <input type="text">
                                    </div>
                                    <div class="group">
                                        <label>Registration Code</label>
                                        <input type="text">
                                    </div>
                                </div>

                                
                            </div>
                            <hr>
                            <div class="group right">
                                    <button class="btn white" type="button">Delete</button>
                                    <button class="btn" type="button">Save</button>
                                </div>
                        </div>
                    </div>
                </div>

                {{! // Accordion Item #2}}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
                            2.7 Habits Signature - Live Worksession
                        </a>
                    </div>
                    <div id="collapseTwo" class="accordion-body collapse">
                        <div class="accordion-inner">

                        </div>
                    </div>
                </div>
            </div>
            {{! button create }}
            <a href="#" class="button-add" onclick="removeday()">
                CREATE NEW <i class="fa fa-plus-circle" aria-hidden="true"></i>
            </a>
            <hr>
            <div class="group right">
                <button class="btn white" type="button">Cancel</button>
                <button class="btn" type="button">Save Draft</button>
                <button class="btn publish-modal" type="button">Publish</button>
            </div>
        </div>
    </div>
</div>

{{>adminpages_customimpact/unpublished_buildnew_modal}}
</div>
