<div class="modal fade" tabindex="-1" role="dialog" id="tnccertification">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true"></span>
                </button>
                <h4 class="modal-title">{{#str}}modelheading, format_certification{{/str}}</h4>
            </div>
            <div class="modal-body">
                {{content}}
            </div>
            <div class="modal-footer">
                <button type="button" id="tncsertclode" class="btn btn-default" data-dismiss="modal">
                    {{#str}}cancel, format_certification{{/str}}
                </button>
                <button type="button" id="cert-action" value="{{courseid}}" class="btn btn-primary">
                    {{#str}}agree, format_certification{{/str}}
                </button>
            </div>
        </div>
    </div>
</div>
