{{! // Reports }}
<div class="container">
	<div class="row">
		<div class="span12">

			{{! // Accordion}}
			<div class="accordion" id="accordion2">
				
				{{! // Accordion Item #1}}
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne">
							Collapsible Group Item #1
						</a>
					</div>
					<div id="collapseOne" class="accordion-body collapse in">
						<div class="accordion-inner">
							<table class="table table-striped">
								<tr>
									<th><strong>{{#str}}language, local_admin{{/str}}</strong></th>
									<th><strong>{{#str}}last_updated, local_admin{{/str}}</strong></th>
									<th><strong>{{#str}}percentage_strings_translated, local_admin{{/str}}</strong></th>
								</tr>
								<tr>
									<td>English</td>
									<td>2015-05-21 14:33 UTC</td>
									<td>
										<div class="progress has-info">
											<span class="description">60% (1892/3000)</span>
											<div class="bar" style="width: 60%;"></div>
										</div>
									</td>
								</tr>
								<tr>
									<td>English</td>
									<td>2015-05-21 14:33 UTC</td>
									<td>
										<div class="progress has-info">
											<span class="description">20% (1892/3000)</span>
											<div class="bar" style="width: 20%;"></div>
										</div>
									</td>
								</tr>
								<tr>
									<td>English</td>
									<td>2015-05-21 14:33 UTC</td>
									<td>
										<div class="progress has-info">
											<span class="description">10% (1892/3000)</span>
											<div class="bar" style="width: 10%;"></div>
										</div>
									</td>
								</tr>
							</table>
							{{! Buttons Import/Export }}
							<div class="actions">
								<a href="#" class="btn">Import</a>
								<a href="#" class="btn">Export</a>
							</div>
						</div>
					</div>
				</div>

				{{! // Accordion Item #2}}
				<div class="accordion-group">
					<div class="accordion-heading">
						<a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo">
							Collapsible Group Item #2
						</a>
					</div>
					<div id="collapseTwo" class="accordion-body collapse">
						<div class="accordion-inner">
							Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloribus voluptas repellat sunt perferendis, ad est obcaecati, facere iure repellendus reprehenderit voluptatibus animi, tempora molestiae magni consequuntur tenetur reiciendis placeat a.
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>