{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}

<div class="container">
    <div class="row">
        <div class="span12">

            {{! // Accordion}}
            <div class="accordion no-expansive marketing-group" id="accordion0">
                {{! // Accordion Item #1}}
                <div class="accordion-group">
                    <div class="accordion-heading">
                        <a class="accordion-toggle" data-toggle="collapse" data-parent="#accordion0" href="#collapseOne">
                            7 Habits Signature
                        </a>
                    </div>
                    <div id="collapseOne" class="accordion-body collapse in">
                        <div class="accordion-inner">
                            <div class="menu-actions">
                                <a href="#" class="btn">Download all</a>
                            </div>

                            <table class="table table-hover">
                                <thead>
                                <tr class="titles">
                                    <th>Asset Name</th>
                                    <th>Asset type</th>
                                    <th>Download</th>
                                </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>PDF</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>PowerPoint</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>PNG</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>DOC</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>ZIP</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>
                                    <tr>
                                        <td>Asset Name Space</td>
                                        <td>XML</td>
                                        <td><a href="javascript:void(0);" class="fa fa-download download-file" title="Download"></a></td>
                                    </tr>

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


