/**
 * *************************************************************************
 * *                       HPCL - Competency Search                          **
 * *************************************************************************
 * @package     block                                                   **
 * @subpackage  HPCL competencysearch                                        **
 * @name        HPCL Competency Search                                       **
 * @copyright   HPCL                                                 	**
 * @author      HPCL                                            			**
 * @license     http://www.gnu.org/copyleft/gpl.html GNU GPL v3 or later  **
 * *************************************************************************
 * ************************************************************************ */

.block_hpcl_competencysearch .searchform {text-align: center;}
.block_hpcl_competencysearch .searchform img {vertical-align: middle;}
.block_hpcl_competencysearch .searchform img.resize {width: 1em;height: 1.1em;}
.block_hpcl_competencysearch .invisiblefieldset {display: block;}

.block_hpcl_competencysearch_result_list
{
    list-style-type: none;
}
body#page-blocks-hpcl_competencysearch-results .categoryname{
	width: 30%;
    float: right;
    text-align: right;
}
body#page-blocks-hpcl_competencysearch-results .tagname{
	width: 30%;
    float: right;
    text-align: right;
}
body#page-blocks-hpcl_competencysearch-results .crsname{
	width: 30%;
    float: right;
    text-align: right;
    line-height: 0px;
    margin-top: -5px;
}
body#page-blocks-hpcl_competencysearch-results .coursebox{
	margin-bottom: 2px;
	padding: 1px;
}
h4.search_title_result {
    background-color: rgba(111, 223, 91, 0.33);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
}
h4.search_title_new {
    background-color: rgba(91, 192, 223, 0.3);
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
}
h4.search_title_noresult {
    background-color: rgba(223, 91, 91, 0.19)!important;
    padding: 5px;
    border-radius: 4px;
    margin-bottom: 15px;
}
