{{!
    This file is part of Moodle - http://moodle.org/

    Moodle is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    Moodle is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with Moodle.  If not, see <http://www.gnu.org/licenses/>.
}}
<table class="table table-hover">
<thead>
<tr class="banner">
    <th colspan="4"><a href="{{addnew}}" class="btn btn-primary">{{#str}}addnew, adminpages_standardpages{{/str}}</a></th>
</tr>
<tr class="titles">
    <th> {{#str}}lang, adminpages_standardpages{{/str}}</th>
    <th> {{#str}}shortname, adminpages_standardpages{{/str}}</th>
    <th> {{#str}}edit, adminpages_standardpages{{/str}}</th>
    <th> {{#str}}delete, adminpages_standardpages{{/str}}</th>
  </tr>
</thead>
<tbody>
{{#adminpages}}
    <tr>
        <td><a href="{{{viewurl}}}" ><strong>{{lang}}</strong></a></td>
        <td>{{shortname}}</td>
        <td><a href="{{{editurl}}}" >{{# pix }} t/edit, core, {{#str}}edit{{/str}} {{/ pix}}</a></td>
        <td><a href="{{{deleteurl}}}" >{{# pix }} t/delete, core, {{#str}}delete{{/str}} {{/ pix}}</a></td>
    </tr>
{{/adminpages}}
</tbody>
</table>
