<div class="accordion no-expansive worksession-group" id="worksession1">
    {{! // Accordion Item #1}}
    <div class="accordion-group">
        <div class="accordion-heading">
            <div class="pull-left">
                <p class="work-date">September 16 - September 19</p>
                <a class="accordion-toggle work-name" data-toggle="collapse" data-parent="#worksession1" href="#WorkOne">
                    7 Habits Signature - Live Session
                </a>
                <ul class="secondary-informations">
                    <li>4 of 20 Seats Used</li>
                </ul>
            </div>
            <div class="pull-right">
                <p class="work-sent"><i class="fa fa-envelope-open-o" aria-hidden="true"></i> Sent on 8/15/16</p>
            </div>
        </div>
        <div id="WorkOne" class="accordion-body collapse in">
            <div class="accordion-inner">
                {{! Buttons Import/Export }}
                <div class="menu-actions">
                    <div class="actions-right">
                        <a href="#" class="btn btn-leaked">Delete Event</a>
                        <a href="#" class="btn btn-leaked">Cancel</a>
                        <a href="#" class="btn btn-save">Save</a>
                    </div>
                </div>

                <form class="work-form form-horizontal row">
                    <div class="pull-left span6">
                        <div class="control-group">
                            <label class="control-label" for="inputName">Event name</label>
                            <div class="controls">
                                <input type="text" id="inputName">
                            </div>
                        </div>
                        <div class="control-group input-block">
                            <label class="control-label" for="inputDescription">Event Description</label>
                            <div class="controls">
                                <textarea id="inputDescription" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="control-group input-inline">
                            <label class="control-label" for="inputStartDate">Start date & Time</label>
                            <div class="controls">
                                <input type="text" id="inputStartDate">
                                <input type="text" id="inputStartHour">
                            </div>
                        </div>
                        <div class="control-group input-inline">
                            <label class="control-label" for="inputStartDate">End date & Time</label>
                            <div class="controls">
                                <input type="text" id="inputEndDate">
                                <input type="text" id="inputEndHour">
                            </div>
                        </div>
                    </div>
                    <div class="pull-right span6">
                        <div class="control-group">
                            <label class="control-label" for="inputSeats">Seats Available</label>
                            <div class="controls">
                                <input type="text" id="inputSeats">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputCallin">Call-in Number</label>
                            <div class="controls">
                                <input type="text" id="inputCallin">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputAssessment">Assessment</label>
                            <div class="controls">
                                <input type="checkbox" id="inputAssessment">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputMeeting">Meeting Room</label>
                            <div class="controls">
                                <input type="text" id="inputMeeting">
                            </div>
                        </div>
                        <div class="control-group">
                            <label class="control-label" for="inputRegistration">Registration Code</label>
                            <div class="controls">
                                <input type="text" id="inputRegistration">
                                <div class="well well-small">
                                    <p>Please contact your Client Service Coordinator in order to obtain your unique assessment registration code.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>